body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#74ABE2,#5563DE);

}
h1 , h2, h3{
    text-align: center;
    color: #2c3e2c;
}
h1 span{
    color: #ffda79;
}
header{
    background-color: black;
    color: white;
    padding: 1.5em 0;
    text-align: center;
}

section{
    margin: 2em auto;
    width: 900px;
    background: rgb(48, 25, 25);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}
img{
    width: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}
#habilidades ul{
 list-style: none;
 padding: 0;
 display: flex;
 justify-content: center;
 gap: 20px;   
}
#habilidades li{
    background: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background 0.3s ease;
}
#habilidades li:hover{
    background: #2980b9;
}
img:hover{
    transform: scale(1.1);
}
#proyectos article{
    background: #ecf0f1;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    color: gray;
}
#proyectos article:hover{
    transform: scale(1.05);
}

footer{
    background-color: #222;
    color: aliceblue;
    padding: 1em 0;
}
